<div id="api-options">
	<input type="checkbox" id="api-show-inherited" checked><label for="api-show-inherited">継承</label>
	<input type="checkbox" id="api-show-protected" checked><label for="api-show-protected">プロテクト</label>
	<input type="checkbox" id="api-show-private" checked><label for="api-show-private">プライベート</label>
	<input type="checkbox" id="api-show-deprecated" checked><label for="api-show-deprecated">非推奨</label>
</div>

